:root {
  --header-bg: #1c1c1c;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.twitter-bird {
  color: var(--header-bg);
}

.github-btn {
  font-size: 2.4pc;
  padding: 10px;
  color: rgb(255, 255, 255);
  transition: all 0.1s;
}

.github-btn:hover {
  color: rgb(173, 173, 173);
}

.twitter-link {
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

.twitter-link:hover {
  color: rgb(167, 167, 167);
}

.fa-stack {
  font-size: 1.2pc;
}
.fa-stack i {
  vertical-align: middle;
}
.fa-twitter {
  font-size: 26px;
}

/* ======== HEADER =======*/
header {
  background-color: black;
  color: white;
  position: relative;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.modalList li:not(:last-child) {
  padding-bottom: 10px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  padding: 13px;
}

.header-title a {
  text-decoration: none;
  color: white;
}

/* ======== Footer=======*/
.footer {
  background-color: black;
  color: white;
  margin-top: auto;
}

.footer-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* ======= LOGIN PAGE ==========  */
.login-container {
  background-color: #3a3a3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(7px + 2vmin);
  color: white;
}

.login-header {
  border-bottom: 1px solid #6e6e6e;
  margin-bottom: 35px;
  margin-top: 20px;
  padding-bottom: 12px;
  width: -moz-max-content; /* Firefox/Gecko */
  width: max-content;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  font-size: 35px;
  font-size: calc(16px + 3vw);
  text-align: center;
  font-weight: 800;
}

.login-content {
  padding-bottom: 20px;
  line-height: 1.3;
  width: 80%;
  max-width: 1160px;
}

.login-content .subheading {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 5px;
}

.login-content li {
  padding-bottom: 7px;
}
.warning {
  border-radius: 8px;
  border: 3px solid rgb(221 55 17);
  padding: 10px;
  line-height: 1.5;
  font-size: calc(6px + 2vmin);
}
/* ======================= */

.spotifyLink {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.spotifyLink:hover {
  background-color: #4b4b4b93;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .title {
    padding: 6px;
    font-size: 25px;
  }
}