:root {
	/* Official spotify green */
	--spotify-primary: #1db954;
}

button {
	font-family: inherit;
}

.hidden {
	display: none;
}

.background {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	position: absolute;
}

.main-wrapper {
	padding-top: 1.5pc;
	padding-bottom: 1.5pc;
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	width: 80%;
	z-index: 1;
	color: white;
}

.main-wrapper-InActive {
	padding-top: 1.5pc;
	padding-bottom: 1.5pc;
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	width: 80%;
	z-index: 1;
	color: white;
	flex-direction: column;
}

.container {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgb(15, 35, 21);
	margin: 0;
	padding: 0;
}

.player-container {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgb(46, 46, 46);
	margin: 0;
	padding: 0;
}

.main-container {
	flex: 1;
}

.now-playing__name {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	word-wrap: normal;
}

.now-playing__artist {
	margin-bottom: 8px;
}

.now-playing__status {
	margin-bottom: 1em;
}

.now-playing__cover {
	float: left;
	margin-right: 10px;
	text-align: right;
	width: 17pc;
}

.now-playing__sidePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 2%;
	width: 416px;
}

.now-playing__sidePanel_Details {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn-spotify-container .btn-spotify:nth-of-type(2n) {
	margin-right: 17px;
	margin-left: 17px;
}

.btn-spotify-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

button.btn-spotify {
	display: flex;
	height: 46px;
	width: 46px;
	justify-content: center;
	align-items: center;
}

.btn-spotify {
	background-color: var(--spotify-primary);
	border-radius: 50%;
	border: 1px solid #18ab29;
	/* display: inline-block; */
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 12px;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-spotify i {
	display: flex;
}

.btn-spotify:active {
	position: relative;
	top: 1px;
	font-size: 17px;
}

.btn-login {
	background-color: #44c767;
	border-radius: 35px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	transition: all 0.2s;
}

.btn-login:active {
	position: relative;
	top: 1px;
}

img {
	background: transparent;
}

.track-time {
	display: flex;
	font-size: small;
	margin-bottom: 10px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.OpenSpotifyLink {
	color: white;
	text-decoration: none;
}

.OpenSpotifyLink:hover {
	color: var(--spotify-primary);
}

.left_col {
	display: flex;
	flex-direction: column;
}

.right_col {
	display: flex;
	flex-direction: column;
}

/* Media queries must be at the end of file to ovverride above */
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.main-wrapper {
		flex-wrap: wrap;
		text-align: left;
		margin: 0px;
	}

	.now-playing__cover {
		margin: 0px 0px 0px 0px;
	}

	.now-playing__sidePanel_Details {
		margin: 15px 0px 0px 0px;
	}
}
